.Main {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
.Main-content {
padding: 20px;
margin-top: 50px; /* Adjust this if needed to avoid overlap with the nav bar */
}

h1 {
font-size: 2.5em;
}

p {
font-size: 1.2em;
}